@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';
:host {
    $auth-layout-padding: 2.5rem;
    nb-card {
        margin: 0;
        height: calc(100vh - 2 * #{$auth-layout-padding});
        width: 100%;
        background-color: #F0F8FF
        ;
    }
    .navigation .link {
        display: inline-block;
        text-decoration: none;
        nb-icon {
            font-size: 2rem;
            vertical-align: middle;
        }
    }
    .links nb-icon {
        font-size: 2.5rem;
    }
    nb-card-body {
        display: flex;
        width: auto;
    }
    app-auth-block {
        margin: auto;
    }
     ::ng-deep {
        nb-layout .layout .layout-container .content .columns nb-layout-column {
             padding: $auth-layout-padding;
        }
    }
}