:host {
    .form-group:last-of-type {
        margin-bottom: 3rem;
    }
    .btn-success {
        background-color: #55828b;
    }
}

.title {
    font-family: "Comfortaa";
    color: #3b6064;
    font-size: 32px;
    font-weight: 400;
}

input[type=password] {
    width: 70%;
    height: 52px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.label,
.sub-title {
    text-align: center;
    color: #364958;
    font-family: "Comfortaa";
    font-size: 14px;
}

.error-message {
    text-align: center;
    color: red;
    padding-top: 2%;
}