<div class="container-scroller full-page-wrapper ">
<nb-card>
    <nb-card-header>
            <h1>activities</h1>
    </nb-card-header>
           
                
    <nb-card-body>
      <table  class="my-3 table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info" style="text-align: center">
        <thead>
        <tr role="row">
          <th  class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="name: activate to sort column ascending">user ID</th>
          <th  class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activation: activate to sort column ascending">user fullname</th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="password: activate to sort column ascending">Date</th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="password: activate to sort column ascending">status</th>
        </thead>
         <tbody>
          <tr *ngFor="let activity of activities | paginate: { itemsPerPage: 7, currentPage: pageActuel }">
            <td>
              <h5>{{activity.id_user}}</h5>
            </td>
            <td>
              <p>{{activity.firstname}} {{activity.lastname}}</p>
            </td>
            <td>
                <p>{{activity.date| date : 'yyyy-MM-dd'}}</p>
            </td>
            <td>
            
              <i *ngIf="activity.verified===1" class="fa fa-check fa-2px" style="color: #009933; cursor: pointer;"></i>
              <i *ngIf="activity.verified===0" class="fa fa-times fa-2px" style="color: #d41919; cursor: pointer;"></i>
            </td>
            <td>
              <i *ngIf="activity.verified===0 "class="fa fa-cogs fa-1x" style=" cursor: pointer;" (click)=" verify(activity.id)"> verify</i>
              <i *ngIf="activity.verified===1 "class="fa fa-cogs fa-1x" style=" cursor: pointer;" (click)=" details(activity.id)"> details</i>
              <br>
              <i class="fa fa-trash fa-1x" style=" cursor: pointer;" (click)="delete(activity.id)"> delete</i>
            </td>
        
            

        </tbody>
        </table>
        
         <pagination-controls
        (pageChange)="pageActuel = $event"
        previousLabel="Previous"
        nextLabel="Next">
        </pagination-controls>     
                
            </nb-card-body>
        </nb-card>
  </div>