<div class="container-scroller full-page-wrapper ">
  <nb-card>
    <nb-card-header>
      Promotions List
    </nb-card-header>
    <nb-card-body>
      <div id="popup" style="margin-bottom:50px"></div>
    
      <div>
        <i  style="cursor: pointer ; font-size: 1.6rem; " class="fas fa-plus fa-2x" (click)="create()"> Add </i>
      </div>

      <table  class="my-3 table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info" style="text-align: center">
        <thead>
        <tr role="row">
          <th  class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="name: activate to sort column ascending">company's name</th>
          <th  class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activation: activate to sort column ascending">value</th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="password: activate to sort column ascending">title</th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="password: activate to sort column ascending">description</th>
          <th  class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="affect: activate to sort column ascending">posting date</th>
          <th  class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="affectsub: activate to sort column ascending">expiration date</th>
          <th  class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="affectsub: activate to sort column ascending">state</th>
        </thead>
        <tbody>
          <tr *ngFor="let promotion of promotions | paginate: { itemsPerPage: 7, currentPage: pageActuel }">
          
            <td>
              <h5>{{promotion.company_name}}</h5>
            </td>
            <td>
              <p *ngIf="!promotion.cost" >--</p>
              <p *ngIf="promotion.cost">{{promotion.cost}} tokens</p>
            </td>
            <td>
              <a (click)="goDetailsPromotion(promotion.promotion_id)" style="cursor: pointer">{{promotion.promotion_name}}</a>
            </td>
            <td>
              {{ promotion.promotion_description}}
            </td>
            <td>
              {{promotion.creation_date| date : 'yyyy-MM-dd'}}
            </td>
            <td>
              {{promotion.expiration_date| date : 'yyyy-MM-dd'}}
            </td>
            <td>
              <button *ngIf="promotion.verified!==1" class="btn btn-sm btn-secondary" (click)="verifyPromotion(promotion.promotion_id)">pending</button>
              <button *ngIf="promotion.verified===1" class="btn btn-sm btn-success" >available</button>
            </td>
            <td>
              <i class="fa fa-trash fa-1x" style="color: #d41919; cursor: pointer;" (click)="delete(promotion.promotion_id)">delete</i>
              <br>
              <i class="fa fa-edit fa-1x" style="color: #dfd00a; cursor: pointer;" (click)="update(promotion.promotion_id)">update</i>

            </td>
        
            

        </tbody>
        </table>
        
        <pagination-controls
        (pageChange)="pageActuel = $event"
        previousLabel="Previous"
        nextLabel="Next">
        </pagination-controls>
    </nb-card-body>
  </nb-card>
</div>