@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@include nb-install-component() {
    @include media-breakpoint-down(xs) {
        .dropdown-toggle {
            font-size: 0.75rem;
        }
    }
}

:host {
    $auth-layout-padding: 2.5rem;
    nb-card {
        margin: 0;
        height: calc(100vh - 2 * #{$auth-layout-padding});
        width: 100%;
        background-color: #f0f8ff;
    }
    nb-card-body {
        align-items: center;
        text-align: center;
        position: relative;
    }
    nb-card-header {
        border: none;
        justify-content: center;
    }
    .btn {
        background-color: #3b6064;
    }
    .input-rectangle  {
        border-radius: 12px;
        box-shadow: 0px 4px 9px rgba(69, 91, 99, 0.08);
        background-color: #ffffff;
       // text-align: center;
    }
    .title {
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;
        text-align: center;
    }
    .sub-title {
        margin-bottom: 2rem;
        margin-top: 0.5rem;
        text-align: center;
        font-size: 16px;
        line-height: 21px;
        color: #3b6064;
        font-weight: 400;
        font-family: "Comfortaa";
    }
    .form-group {
        margin-bottom: 2rem;
    }
    h2 {
        color: #3b6064;
        font-weight: 400;
        font-family: "Comfortaa";
    }
    .text-danger {
        padding-top: 0.5rem;
    }

    option{
        height:80%;
    }

    .upload{
        height: 120%;
    }

        
}