<div class="container-scroller full-page-wrapper  mx-auto">
  <div class="titre">
      <h1><img src="../../assets/images/timeToken-60x60.png"></h1>
      <p class="sous-titre"> TimeToken</p>

  </div>

  <div class=" page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center">
          <div class="row  text-center">
              <div class="col-lg-10 text mx-auto">
                  <div class="contenu">
                      <img src="../../assets/images/envelope.png">



                      <div class="text">An invitation has been sent to your email. Please check to verify.</div>


                  </div>
                  <button (click)="continue()"  class="btn submit-btn btn-lg">Continue</button>

              </div>
          </div>
      </div>

  </div>


</div>